
.slider-block {
    position: relative;
    @media (min-width: #{$tablet + px}){
      max-width: 260px;
    }

    // .slider-block__body

    &__body {
        transition: all 0.3s ease 0s;
        background-color: $darkColor;
        border-radius: 5px;
        border: 2px solid $lightSecondColor;
        text-align: center;
    }
    // .slider-block__header

    &__header {
        font-size: 30px;
        padding: 10px;
        color: $lighterColor;
        text-transform: uppercase;
            & span{
                position: absolute;
                cursor: pointer;
                right: 16px;
                top: 14px;
                height: 24px;
                width: 24px;
                background: url('../../../assets/icons/arrows-icon.svg') 5px 5px no-repeat;
                transition: all 0.3s ease 0s;
                transform: rotate(-90deg);
                @media (max-width: #{$mobile + px}){
                    transform: rotate(-90deg);
                }
            }
            & ._active{
                transition: all 0.3s ease 0s;
                transform: rotate(90deg);
            }

   
    }
    // .slider-block__pagination

    &__pagination{
        margin-top: 10px;
        position: relative;
    }

    // .slider-block__title_large

    &__title_large {
        font-weight: 500;
        color: $lighterColor;
    }

    // .slider-block__event-list

    &__event-list {
    
        @media (max-width: #{$tablet + px}){
            display: none;
        }
    }

      & .swiper-button-prev, & .swiper-button-next {
        top: 2.7%;
        &::after{
            font-size: 20px;
            font-weight: 800;
        }
        @media (max-width: #{$tablet + px}){
            display: none;
        }
    }
}

