.item-product{
    //.item-product__breacrumb-nav
    &__breacrumb-nav{
        margin: 0 0 15px 0;
    }

    //.item-product__top
    &__top{
        display: flex;
        align-items: end;
        gap: 45px;
        justify-content: space-between;
        & div{
            max-width: 50%;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 2px;
            text-align: center;
            color: $lighterColor;
            font-size: 25px;
            display: flex;
            @media (max-width: #{$mobile + px}){
                max-width: 100%;
            }
        }
        @media (max-width: #{$mobile + px}){
            gap: 15px;
            flex-direction: column;
            align-items: center;
        }
        
    }

    //.item-product__body
    &__body{
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        gap: 20px;
        @media (max-width: #{$mobile + px}){
            flex-direction: column;
            align-items: center;
        }
    }

    //.item-product__sliders
    &__sliders{
        width: 100%; 
        flex-grow: 1;
        @media (min-width: #{$mobile + px}){
            max-width: 50%;
            max-height: 50%;
        }
    }

    //.item-product__sliders-box
    &__sliders-box{
        border: 1px solid $lightColor;
    }

    //.item-product__main-slider
    &__main-slider{
        border-left: 1px solid $lightColor;
        border-right: 1px solid $lightColor;
        position: relative;
    }

    //.item-product__thumbs-slider
    &__thumbs-slider{
        border-bottom: 1px solid $lightColor;
        border-top: 1px solid $lightColor;
        & .swiper-slide {
            & img{
                opacity: 0.2;
            }
            cursor: pointer;
            @media (min-width: #{$tablet + px}){
                &:hover{
                    & img{
                        opacity: 1;
                    }
                }
            }
        }
          
        & .swiper-slide-thumb-active {
            & img{
                opacity: 1;
            }
        }
    }

    
    //.item-product__poster
    &__poster{
        border-bottom: 1px solid $lightColor;
        border-top: 1px solid $lightColor;
        & img{
            width: 100%;
        }
    }

    //.item-product__skeleton
    &__skeleton{
       position: absolute;
       left: 0;
       right: 0;
       z-index: -50;
    }

    //.item-product__img
    &__img{ 
        border-left: 1px solid $lightColor;
        border-right: 1px solid $lightColor;
        & img{
            width: 100%;
        }
    }
    //.item-product__content
    &__content{
        min-width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        @media (max-width: #{$mobile + px}){
            width: 100%;
        }
    }

    //.item-product__cost
    &__cost{
        display: flex;
        align-items: center;
        justify-content: space-between;
        & img {
            width: 30px;
        }
    }

    
    //.item-product__price
    &__price{
        font-size: 24px;
    }
    
    //.item-product__price_large
    &__price_large{
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 2px;
        display: flex;
    }

    //.item-product__label
    &__label{
        display: flex;
        gap: 20px;
        align-items: end;
        & span{
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 1px;
            color: $lightSecondColor;
        }
    }

    //.item-product__btn
    &__btn{
        font-size: 18px;
        @media (max-width: #{1200 + px}){
            & span{
                display: none;
            }
        }
    }
    
    //.item-product__counter-wrap
    &__counter-wrap{
        border: 2px solid $secondColor;
        border-radius: 5px;
        padding: 7px 14px;
    }

    //.item-product__title_large
    &__title_large{
        & span {
            color: $lighterColor;
        }
    }
    
    //.item-product__granted-list
    &__granted-list{ 
        & .swiper-slide{
            min-height: 80px !important;
        }
        & .swiper{
            max-height: 350px;
           width: 100%;
        }
    }

    & .swiper-button-prev, .swiper-button-next {
        color: $lightColor;
    }

    &__spiner{
        width: 100%;
        height: 400px;
        position: relative;
    }
}

.breacrumb-nav{
    &__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap;
        gap: 5px;
        color: $secondColor;
    }
    
    &__link{
        display: inline;//!!!
        font-size: 16px;
        letter-spacing: 1.5px;
        font-weight: 900;
        cursor: pointer;//!!!
    }

    & li:not(:last-child){
        & div{//!!!
            &:hover{
                text-decoration: underline;
            }
        }
        &::after{
            content: '/';
            font-size: 18px;
            margin: 0 0 0 5px; 
        }
    }

    & li:last-child{
        color: $lightSecondColor;
    }
    
}

.granted{
    display: flex;
    height: 100%;
    background-color: #27272fc7;
    color: $lightSecondColor;
 
    & img{
        height: 100%;
    }

    &__info{
        padding: 10px 20px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 10px;
    }

    &__title{

        
    }

    &__description{
       flex: 1 1 auto;
       
    }
}

.lds-facebook {
    position: absolute;
    left: calc(50% - 100px);
    top: 40%;
 
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $lightMainColor;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.6s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.5s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay:  -0.4s;
  }
  .lds-facebook div:nth-child(4) {
    left: 80px;
    animation-delay: -0.3s;
  }
  .lds-facebook div:nth-child(5) {
    left: 104px;
    animation-delay: -0.2s;
  }
  .lds-facebook div:nth-child(6) {
    left: 128px;
    animation-delay: -0.1s;
  }
  .lds-facebook div:nth-child(7) {
    left: 152px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  