
.menu {
    // .menu__list
    &__list {
        flex-wrap: wrap;
        @media (min-width: #{$tablet + px}){
            display: flex;
            @include adaptiveValue('column-gap', 60, 20, 1); 
        }
        
        @media (max-width: #{$tablet + px}){
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: $secondColor;
            transition: all.3s ease 0s;
            padding: 95px 15px 30px 15px;
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: -100%;
				transition: all 0.3s ease 0s;
				width: 100%;
                height: 65px;
                background-color: $lightSecondColor;
                z-index: 2;
            }
            ._active & {
                left: -80%;  
                  background-color: #6d05ddda;
                    &::before {
                        left: 0;
                    }
                @media (max-width: #{$mobile + px}){
                    background-color: $secondColor;
                    left: 0;    
                }
			}
        }
    }
    // .menu__item
    &__item {
        text-align: right;
        @media (max-width: #{$tablet + px}){
            &:not(:last-child){
                margin-bottom: 25px;
            }
        }
    }
    // .menu__link
    &__link {
        transition: background-color 0.2s ease 0s;
        cursor: pointer;
        user-select: none;
        &_active{
            color: $lighterColor;
            &:hover{
                background-color: inherit !important;
            }
        }
        @media(min-width: #{$tablet + px}){
            position: relative;
            line-height: 27px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0 19px;
            border-radius: 10px;
            &:hover{
                background-color: #6d05dd8e;
            }
        }
        @media(max-width: #{$tablet + px}){
            font-size: 20px;
        }
    }
   
}
