.footer {
    letter-spacing: 1.5px;
    padding: 20px 0;
    // .footer__container
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    // .footer__social

    &__social {
    }

    // .footer__copy

    &__copy {
        color: $lighterColor;
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}
.social {

    // .social__icon

    &__icon {
    }

    // .social__info

    &__info {
    
    
    }

    // .social__item

    &__item {
        margin: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
