.form-search {
    display: flex;
    position: relative;
    z-index: 5;
    // .form-search_select

    &_select {
    }

    // .form-search__select-list

    &__select-list {
        position: absolute;
        top: 75%;
        left: 0;
        width: 100%;
        display: none;
        border: solid 2px $secondColor;
        background-color: $lightSecondColor;
        border-radius: 0px 0px 5px 5px;
        z-index: -20;
        padding: 10px 0 0 0;
        max-height: 50vh;
        overflow-y: scroll;
        transition: overflow 0.3s ease 0s;
    }

    // .form-search__item

    &__item {
        &:not(:last-child) {
            &::after{
            content: '';
                display: block;
                height: 1px;
                background-color: $lighterColor;
            }
        }
        
    }

    // .form-search__input

    &__input {
        flex: 1 1 auto;
        border-radius: 5px 0px 0px 5px;
        border: 2px solid $secondColor;
        position: relative;
        @media (max-width: #{$mobile + px}){
            border-radius: 5px;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $mainColor;
            z-index: -10;
        }
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            background: url('./icons/loupe-icon.svg') 0 0 no-repeat;
            padding: 8px;
            top: calc(12%/38*100); //icon hight&width 16px / __input hight 39px
            left: 15px;
            z-index: -1;
        }

        input {
            height: 100%;
            border: none;
            color: $lightColor;
            border-left: 1px solid $secondColor;
            background-color: #6d05dd7c;
            padding: 10px 10px 10px 35px;
        }
    }

    // .form-search__btn

    &__btn {
        background-color: $secondColor;
        border-radius: 0px 5px 5px 0px;
        border-bottom: 2px solid #6d05dd7c;
        @media (max-width: #{$mobile + px}){
            display: none;
        }
    }

     // .form-search__row-product
    &__row-product{
        background-color: $lightSecondColor;
        & span h5{
            color: $lightMainColor;
        }
        @media (min-width: #{$mobile + px}){
            &:hover{
                background-color: #ce50e7c7;
            } 
        }
    }
}

